<span>
  <nav>
      <button class="button button1" routerLink="/home">Home</button>
      <button class="button button1" routerLink="/ingredients">ingredients</button>
      <button class="button button1" routerLink="/meals">meals</button>
      <button class="button button1" routerLink="/user">user</button>
      <button class="button button1" routerLink="/search">search</button>
      <button class="button button1" routerLink="/login">login</button>
      <button class="button button1" routerLink="/registration">register</button>
      <button  (click)="logout()"  type="submit">Logout</button>
  </nav>
</span>

<router-outlet></router-outlet>