<div
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
>
  <a
    href="#"
    class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
  >
    <img class="w-8 h-8 mr-2" src="Logo.png" alt="logo" />
    CarbWatch
  </a>
  <div
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Create an account
      </h1>
      <div
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400"
      >
        <h2 id="accordion-flush-heading-1">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
            data-accordion-target="#accordion-flush-body-1"
            aria-expanded="true"
            aria-controls="accordion-flush-body-1"
          >
            <span>What is Insulin Correction Factor?</span>
            <svg
              class="w-4 h-4 shrink-0 -me-0.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-1"
          class="hidden"
          aria-labelledby="accordion-flush-heading-1"
        >
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              The insulin correction factor (sometimes called an insulin
              sensitivity factor) is used to calculate the amount of insulin you
              need to bring your blood glucose into target range.
            </p>
            <p class="text-gray-500 dark:text-gray-400">
              This adjusts or corrects a blood glucose level that may be higher
              or lower than desired before a meal. The correction dose is added
              to, or subtracted from, the pre-meal insulin dose. For example,
              some people might take 1 unit if blood glucose is 50 mg/dL higher
              than the target, and others might take 1 unit for every 25 mg/dL
              higher than the target.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-2">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
            data-accordion-target="#accordion-flush-body-2"
            aria-expanded="false"
            aria-controls="accordion-flush-body-2"
          >
            <span>What is Insulin to Carb Ratio?</span>
            <svg
              class="w-4 h-4 shrink-0 -me-0.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-2"
          class="hidden"
          aria-labelledby="accordion-flush-heading-2"
        >
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              An insulin-to-carb ratio helps you dose how much rapid-acting
              insulin you need to “cover” the carbohydrate you will eat at a
              meal or snack.
            </p>
            <p class="text-gray-500 dark:text-gray-400">
              For example, some people might take 1.5 units for every carb
              choice, or others might take 1 unit for every 10 grams of carb.
              Your health care provider or registered dietitian — who may also
              be a certified diabetes educator (CDE) — can help you choose a
              starting ratio; however, it may take experimentation before you
              find the correct insulin-to-carb ratio for you. Records of what
              you ate, the estimated amount of carbohydrate in your meal, how
              much insulin you took, and what your blood glucose was before and
              two hours after you ate will help you decide if the ratio is
              correct, or if it should be adjusted.
            </p>
            <p class="text-gray-500 dark:text-gray-400">
              Different people have different insulin-to-carb ratios.
              Additionally, insulin-to-carb ratios may change over the course of
              your lifetime or even throughout the day. Some people have one
              ratio for breakfast and a different ratio for lunch and dinner.
            </p>
          </div>
        </div>
      </div>
      <form
        [formGroup]="insulinForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4 md:space-y-6"
      >
        <div>
          <label
            for="insuline"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Insulin Correction</label
          >
          <input
            id="insuline"
            formControlName="insuline"
            type="number"
            placeholder="mg/Dl per Unit Insulin"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
          />
        </div>
        @if (insulinForm.get('insuline')?.hasError('nonZero') &&
        insulinForm.get('insuline')?.touched) {
        <div>Insulin must be greater than 0.</div>
        }
        <div>
          <label
            for="carbeffect"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Carbohydrates per Unit</label
          >
          <input
            id="carbeffect"
            formControlName="carbeffect"
            type="number"
            placeholder="g Carbohydrates per Unit Insulin"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
          />
        </div>
        @if (insulinForm.get('carbeffect')?.hasError('nonZero') &&
        insulinForm.get('carbeffect')?.touched) {
        <div>carbohydrates must be greater than 0.</div>
        }
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="terms"
              aria-describedby="terms"
              type="checkbox"
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
              required=""
            />
          </div>
          <div class="ml-3 text-sm">
            <label
              for="terms"
              class="font-light text-gray-500 dark:text-gray-300"
              >I accept the
              <a
                class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                href="#"
                >Terms and Conditions</a
              ></label
            >
          </div>
        </div>
        <button
          type="button"
          (click)="onPrevious()"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Back
        </button>
        <button
          type="submit"
          [disabled]="insulinForm.invalid"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Create account
        </button>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Already have an account?
          <a
            routerLink="/login"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Login here</a
          >
        </p>
      </form>
    </div>
  </div>
</div>

<!-- @if (insulinForm.invalid) {
    <p>Form is invalid!</p>
  } -->
